.job-panel {
    width: 100%;
    height: 15%;
    background-color: #ffffff;
}
.Java-Developer {
    width: 100%;
    height: 2%;
    font-family: MyriadPro;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0099cc;
}
.DANIT-education {
    font-family: MyriadPro;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.job-background {
    background-color: yellow;
    opacity: inherit;
    width: 75%;



}
header {
    position: center;
    width: 75%;
    height: 150%;
    background-color: #00ade0;
}
.Search-Button {
    width: 25%;
    height: 20%;
    font-size: 15px;
    background-color: #003366;
    font-family: Arial;
    color: white;
    /*margin-right: 20%;*/
}
.Search-Input {
    width: 90%;
    height: 20%;
    font-size: 15px;
    background-color: #ffffff;
    border: solid 1.5px #006699;

}

.right {


}

.Job-Finder {
    border: white;
    border-spacing: initial;
    width: 20%;
    height: 30%;
    font-family: MyriadPro;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

}

#container {
    text-align-all: justify;
    margin-top: 5%;
}

.description {
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
}



